{% extends 'base.html.twig' %}

{% block title %}Mise à jour utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .md-form label {
            transform: translateY(-20px) !important;   
        }
        .md-form input {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
<!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Mise à jour des informations utilisateurs</h2>

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            {{ form_start(form, {'attr': {'id': 'new_edit_user','class': 'card-body'} }) }}
              <!--Grid row-->
              <div class="row">
                <div class="col-md-6 mb-2">
                  <div class="md-form ">
                    {{ form_widget(form.username) }}
                    <label for="username" class="">Pseudo</label>
                  </div>
                </div>
              </div>

              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-2">
                  <!--firstName-->
                  <div class="md-form ">
                    {{ form_widget(form.lastname) }}
                    <label for="lastname" class="">Nom</label>
                  </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-2">
                  <!--lastName-->
                  <div class="md-form">
                    {{ form_widget(form.firstname) }}
                    <label for="firstname" class="">Prénom</label>
                  </div>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
              
              <!--email-->
              <div class="md-form mb-5">
                {{ form_widget(form.email) }}
                <label for="email" class="">Email</label>
              </div>

              <!--address-->
              <div class="md-form mb-5">
                {{ form_widget(form.address) }}
                <label for="address" class="">Addresse</label>
              </div>

              <div class="row">
                <div class="col-md-6 mb-2">
                  <div class="md-form ">
                    {{ form_widget(form.phone) }}
                    <label for="phone" class="">Téléphone</label>
                  </div>
                </div>
                <div class="col-md-6 mb-2">
                  <div class="md-form ">
                    {{ form_widget(form.avatar) }}
                    <label for="avatar" class="">Votre avatar</label>
                  </div>
                </div>
              </div> 
              <hr>
              <button class="btn btn-success">{{ button_label|default('Mettre à jour') }}</button>


            {{ form_end(form) }}

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <!--<a href="{# path('app_user_index') #}">back to list</a>-->
            {# include('user/_delete_form.html.twig') #}
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    /*$("#new_edit_user").on('submit', function(){
        if($("#user_password").val() != $("#password2").val()) {
            //implémntez votre code
            alert("Les deux mots de passe saisies sont différents");
            return false;
        }
    })*/
</script>
{% endblock %}