{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

    <h2>Liste des utilisateurs</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" >Afficher</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" >Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
</div>
</main>
<!--Main layout-->
{% endblock %}
